<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Full info</title>
    <link href="/bootstrap/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="panel panel-default .align-items-center">
        <h2 th:text="${problem.get().getName()}">Value</h2>
        <p>
        <h4>Описание:</h4>
        <p th:text="${problem.get().getDescription()}">VALUE</p>
        <h4>Решение:</h4>
        <p th:text="${problem.get().getSolution()}">VALUE</p>
        <h5>Категории:</h5>
        <p th:text="${problem.get().getCategory()}">VALUE</p>
        <h5>Полезные ссылки:</h5>
        <p th:text="${problem.get().getLinks()}">VALUE</p>
    </div>
</div>

</body>
</html>