<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Full info</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/css/problems/show.css">
</head>
<body>
<div class="container">

    <div class="row height d-flex justify-content-center align-items-center">

        <div class="col-md-6">

            <div class="panel panel-default .align-items-center">
                <h2 th:text="${problem.getName()}">Value</h2>
                <p>
                <h4>Описание:</h4>
                <p class="description" th:text="${problem.getDescription()}">VALUE</p>
            </div>
            <div class="buttons">
                <a href="/problems" class="btn btn-outline-primary" role="button" aria-pressed="true">На главную</a>
                <a sec:authorize="hasAnyRole('EDITOR', 'ADMIN')" th:href="@{/problems/{id}/edit(id=${problem.getId()})}" class="btn btn-outline-secondary" role="button" aria-pressed="true">Редактировать</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>